<style>
.navbar-inverse {
  background: #222;
} 
</style>
<div class="video-head">
  <%= image_tag 'video_head.jpg', class: "img-responsive" %>
  <h1>精彩视频</h1>
  <p>桥梁检测精彩瞬间</p>
</div>
<div class="video-body container">
  <div class="col-md-4 text-center">
    <div class="video-box">
      <%= image_tag "floor06_01.jpg", 'data-src' => "http://player.youku.com/embed/XMTgyMjEwNzU0MA==", class: "img-responsive center-block video-pic" %>
      <span>智鹍宣传片02</span>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="video-box">
      <%= image_tag "floor06_02.jpg", 'data-src' => "http://player.youku.com/embed/XMTgyNTA2MDA0NA==", class: "img-responsive center-block video-pic" %>
      <span>杭州智鹍科技有限公司样片</span>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="video-box">
      <%= image_tag "floor06_03.jpg", 'data-src' => "http://player.youku.com/embed/XMTYxNzAwNTI3Mg==", class: "img-responsive center-block video-pic" %>
      <span>智鹍宣传片</span>
    </div>
  </div>
</div>

<div id="video-show" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <iframe id="video-content" width="100%" height="200px" src="" frameborder=0 'allowfullscreen'></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
$('.video-pic').click(function() {
  $('#video-show').modal();
  $('#video-show .modal-header h4').text($(this).next().text());
  $('#video-content').attr('src', $(this).attr('data-src'))
});
$('#video-show').on('hidden.bs.modal', function(e) {
  $('#video-content').attr('src', '');
})
</script>
