<div class="about-page">
  <div>
    <%= image_tag "about_us/us_01.jpg", class: "img-responsive center-block about-head" %>
    <div class="team-desc visible-lg-block">
      <p>杭州智鹍科技有限公司是一家专注于无人机行业应用的创新型公司。</p>
      <p>地址位于萧山区钱江世纪城宏扬鲲鹏中心。</p>
      <p>属于杭州萧山区5213海归高层次人才创业引进项目。</p>
      <p>公司未来将致力于空中机器人领域的技术研发与应用推广。</p>
      <p>公司目前还处于初创期，欢迎各路英豪加入！。</p>
      <a data-no-turbolink='true' href= "/join" class="btn btn-primary btn-lg btn-block">加入我们</a>
    </div>
    <div class="team-desc-phone hidden-lg">
      <p>杭州智鹍科技有限公司是一家专注于无人机行业应用的创新型公司。</p>
      <p>地址位于萧山区钱江世纪城宏扬鲲鹏中心。</p>
      <p>属于杭州萧山区5213海归高层次人才创业引进项目。</p>
      <p>公司未来将致力于空中机器人领域的技术研发与应用推广。</p>
      <p>公司目前还处于初创期，欢迎各路英豪加入！。</p>
      <a data-no-turbolink='true' href= "/join" class="btn btn-primary btn-lg btn-block">加入我们</a>
    </div>
  </div>
  <!-- <div class="about-content-1">
    <div class="container">
      <h2>产品设计理念</h2>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
    </div>
  </div>
  <div class="about-content-2">
    <div class="container">
      <h2>价值观</h2>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
    </div>
  </div> -->
</div>
