<div class="about-page">
  <div class="about-head">
    <div class="team-desc">
      <p>2015，杭州。</p>
      <p>一个不一般的团队 智鲲 诞生。</p>
      <p>一个不一般的团队 智鲲 诞生。一个不一般的团队 智鲲 诞生。</p>
      <p>一个不一般的团队 智鲲 诞生。</p>
      <p>一个不一般的团队 智鲲 诞生。</p>
      <p>一个不一般的团队 智鲲 诞生。</p>
      <p>一个不一般的团队 智鲲 诞生。</p>
      <p>一个不一般的团队 智鲲 诞生。</p>
      <a data-no-turbolink='true' href= "/join" class="btn btn-primary btn-lg btn-block">加入我们</a>
    </div>
  </div>
  <div class="about-content-1">
    <div class="container">
      <h2>产品设计理念</h2>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
    </div>
  </div>
  <div class="about-content-2">
    <div class="container">
      <h2>价值观</h2>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
    </div>
  </div>
</div>
