<div class="about-page">
  <div class="company">
    <%= image_tag "about_us/us_01.jpg", class: "img-responsive center-block about-head" %>
    <div class="team-desc visible-lg-block des">
      <h4>智鹍科技</h4>
      <p>--------------------------------------</p>
      <p>专注于无人机应用领域的创新</p>
      <p>未来将致力于空中机器人领域的技术研发与应用推广</p>
      <p>目前处于初创期，欢迎各路英豪加入！</p>
      <a data-no-turbolink='true' href= "/join" class="btn btn-primary btn-lg btn-block">加入我们</a>
    </div>
    <div class="team-desc-phone hidden-lg">
      <h4>智鹍科技</h4>
      <p>--------------------------------------</p>
      <p>专注于无人机应用领域的创新</p>
      <p>未来将致力于空中机器人领域的技术研发与应用推广</p>
      <p>目前处于初创期，欢迎各路英豪加入！</p>
      <a data-no-turbolink='true' href= "/join" class="btn btn-primary btn-lg btn-block">加入我们</a>
    </div>
  </div>
  <!-- <div class="about-content-1">
    <div class="container">
      <h2>产品设计理念</h2>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
    </div>
  </div>
  <div class="about-content-2">
    <div class="container">
      <h2>价值观</h2>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
      <p>2015，杭州。</p>
    </div>
  </div> -->
</div>
