<div class="join-head">
  <%= image_tag "join_01.jpg", class: "img-responsive center-block about-head" %>
  <div class="join-desc visible-lg-block">
    <p>草木百年新雨露</p>
    <p>车书万里旧江山</p>
    <p>----创新</p>
    <p>众人拾柴火焰高</p>
    <p>----团队协作</p>
    <p>我们需要这样的你！</p>
    <p>加入我们让自己变得与众不同！</p>
    <div class="join-mail">
      <p>联系邮箱： hr@zhikuntech.com</p>
    </div>
  </div>
  <div class="join-desc-phone hidden-lg">
    <div class="join-mail">
      <p>联系邮箱： hr@zhikuntech.com</p>
    </div>
  </div>
</div>
<div class="join-jobs container">
  <div class="jobs-head">
    <h2>招聘岗位</>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default jobs-item">
      <div class="panel-heading">硬件工程师</div>
      <div class="panel-body">
        <h4>岗位职责</h4>
        <p>原理图绘制、元器件的选型、测试、验证</p>
        <p>底层驱动程序的编写</p>
        <p>电气性能、功能测试方案编写</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default jobs-item">
      <div class="panel-heading">软件工程师</div>
      <div class="panel-body">
        <h4>岗位职责</h4>
        <p>飞控、地面站等软件开发、调试、维护</p>
        <p>软件设计、测试方案编写</p>
        <p>开发文档编写</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default jobs-item">
      <div class="panel-heading">无人机飞手</div>
      <div class="panel-body">
        <h4>岗位职责</h4>
        <p>无人机编队飞行</p>
        <p>无人机组装、调试、维护</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default jobs-item">
      <div class="panel-heading">行政助理</div>
      <div class="panel-body">
        <h4>岗位职责</h4>
        <p>协助Boss进行公司日常事物处理</p>
      </div>
    </div>
  </div>
</div>
<script>
$('.join-jobs .panel-heading').click(function() {
    $(this).parent().find('.panel-body').toggle('slow');
    });
</script>
