<div class="join-head">
  <div class="join-desc">
    <p>2015，杭州。</p>
    <p>一个不一般的团队 智鲲 诞生。</p>
    <p>一个不一般的团队 智鲲 诞生。一个不一般的团队 智鲲 诞生。</p>
    <p>一个不一般的团队 智鲲 诞生。</p>
    <p>一个不一般的团队 智鲲 诞生。</p>
    <div class="join-mail">
      <p>联系邮箱： hr@zhikuntech.com</p>
    </div>
  </div>
</div>
<div class="join-jobs container">
  <div class="jobs-head">
    <h2>招聘岗位</>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default jobs-item">
      <div class="panel-heading">硬件工程师</div>
      <div class="panel-body">
        <h3>岗位职责</h3>
        <p>1、负责硬件设计的可行性分析和终端产品的硬件需求分析；</p>
        <p>2、负责终端设备的硬件概要设计、详细设计；</p>
        <p>3、负责硬件设计原理图绘制、印制板绘制，以及硬件元器件的选型、测试、验证等工作；</p>
        <p>4、辅助硬件设计的底层驱动程序编写；</p>
        <p>5、负责硬件设计的电气性能、功能测试方案。</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default jobs-item">
      <div class="panel-heading">硬件工程师</div>
      <div class="panel-body">
        <h3>岗位职责</h3>
        <p>1、负责硬件设计的可行性分析和终端产品的硬件需求分析；</p>
        <p>2、负责终端设备的硬件概要设计、详细设计；</p>
        <p>3、负责硬件设计原理图绘制、印制板绘制，以及硬件元器件的选型、测试、验证等工作；</p>
        <p>4、辅助硬件设计的底层驱动程序编写；</p>
        <p>5、负责硬件设计的电气性能、功能测试方案。</p>
      </div>
    </div>
  </div>
</div>
<script>
$('.join-jobs .panel-heading').click(function() {
    $(this).parent().find('.panel-body').toggle('slow');
    });
</script>
