<h1 class="page-header">新闻稿预览</h1>
<div class="activity-preview">
	<div class="activity-title">
		<h2><%= @activity.title %></h2>
	</div>
	<div class="activity-desc">
		<%= raw @activity.description %>
	</div>
</div>