// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity-desc img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto !important;
}

.activity-head {
  text-align: center;
}

.activity-box {
  position: relative;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  text-align: center;
}

.activity-box span {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  display: block;
  color: white;
  margin-top: -30px;
  height: 30px;
  line-height: 30px;
}

.activity-box a {
  color: #fff;
}

.activity-box a:hover {
  color: #eee;
}
