// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-head {
  text-align: center;
}

.video-pic {
  cursor: pointer;
}

.video-box {
  position: relative;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}

.video-box span {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  display: block;
  color: white;
  margin-top: -30px;
  height: 30px;
  line-height: 30px;
}
