<div class="footer">
  <div class="contact">
    <div>
      <p>服务热线(周一至周五 8:30~17:00):</p>
      <p>400-400-8888</p>
    </div>
    <%= image_tag 'weixinqr.png', size: "100x100" %>
  </div>
  <div class="copyright">
    Copyright © 2015 智鲲科技 版权所有
  </div>
</div>
