<div class="footer">
  <div class="container">
    <div class="col-sm-7">
      <div class="feedback footer-div">
        <a href="#"><span class="glyphicon glyphicon-envelope" style="vertical-align: text-top;"></span> 意见反馈</a> ・ <a data-no-turbolink='true' href="/about">关于我们</a> ・ <a href="/videos">精彩视频</a> ・ <a data-no-turbolink='true' href="/join">加入我们</a>
      </div>
      <div class="copyright footer-div">
        <p>Copyright © 2014-2016 智鹍科技 版权所有</p>
        <p>浙ICP备16021565号-1</p><span style="margin-left:5px"></span>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="col-xs-8" style="padding: 0px 0px;">
        <!-- <p>服务热线(周一至周五 8:30~17:00):</p>
        <p>400-400-8888</p>-->
        <p>联系我们，请关注右边我们的公众号:</p>
      </div>
      <div class="qr-code col-xs-4" style="padding: 0px 0px;">
        <%= image_tag 'others/weixin.jpg', size: "100x100" %>
      </div>
    </div>
  </div>
</div>
